body{
  background: #f3f3f3;
  font-family: 'Raleway', sans-serif;
}
#coins{
  margin-top: 10rem;
}
.calculator{
  background: #fff;
  min-height: 450px;
  min-width: 150px;
  box-shadow: 1px 1px 1px #e3e3e3;
  padding: 30px 15px;
}
